# Собранные .deb-пакеты
*.deb

# Папки сборки (содержат структуру Debian-пакета)
nlohmann-json-*/

# Архивы исходников (если скачиваете через wget/curl)
*.zip
*.tar.gz
*.tar.bz2

# Временные файлы ОС и редакторов
.DS_Store
Thumbs.db
*~
.*.swp
*.bak

# Локальные скрипты/логи (если появятся)
build.log
