# Собранные .deb-пакеты
*.deb

# Папки сборки (содержат структуру Debian-пакета)
nlohmann-json-*/

# Архивы исходников
*.zip
*.tar.gz
*.tar.bz2

# Временные файлы ОС и редакторов
.DS_Store
Thumbs.db
*~
.*.swp
*.bak

# Локальные скрипты/логи
build.log

# Conan cache 
.conan/
~/.conan2/

# Другие:
conan.lock
conanbuild.sh
conanrun.sh
